.navbar {
    background:#0097A7;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-default {
    border-width: 0;
    border-radius: 0;

}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-text {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    /*background-color: #00bcd4;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    /*background-color: #00bcd4;*/
}
.navbar-default .navbar-toggle {
    /*border-color: #00bcd4;*/
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    /*background-color: #00bcd4;*/
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #FFFFFF;
}
.navbar-default .navbar-link {
    color: #FFFFFF;
}
.navbar-default .navbar-link:hover {
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #FFFFFF;
        /*background-color: #00bcd4;*/
    }
}


.btn-default{
    background: transparent;
    border-color: transparent;
}

.fa{
    color: #727272;
}

#mainBox{
    width: 90%;
    height: auto;
    min-height: 200px;
    min-width: 300px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fafafa;
    color: #000000;
    /*-webkit-animation-duration: 1s;*/
    -webkit-animation-delay: 1s;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.resultBox {
    height: auto;
    margin: 10px auto;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

table.center {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
    border-spacing: 0 8px;
    font-size: 25px;
    box-sizing: border-box; 
    border-spacing: 5px 35px;
}
td    
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: #ffffff;
    padding: 5px;
    height: 30px
}


body{  
    background-color: #e0e0e0;
}